@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: "#22075e";
  --secondary-color: "#391085";
}

body {
  font-family: "Poppins", sans-serif;
}

.task-list-container {
  background-color: white;
  margin-top: 10px;
  border-radius: 0 0 20px 20px;
  padding: 10px 20px 20px;
}

.task-complete-checkbox {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  height: 19px;
  width: 19px;
  cursor: pointer;
}

.task-title {
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
}

.task-status {
  background-color: #ededed;
  border-radius: 10px;
  padding: 3px 12px;
  font-size: 12px;
  font-weight: 500;
}

.action-column {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.ant-input:focus {
  border-color: #b37feb;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(57, 16, 133, 0.2);
  box-shadow: 0 0 0 2px rgba(57, 16, 133, 0.2) rgba(87, 168, 233, 0.2);
}
.ant-input:hover {
  border-color: #b37feb;
}

.priority-btn {
  padding: 5px 10px;
  border-radius: 8px;
  width: 80px;
  text-align: center;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.priority-high {
  border: 1px solid #f5222d;
}
.priority-high:hover {
  color: #ffffff;
  background-color: #f5222d;
}
.priority-medium {
  border: 1px solid #faad14;
}
.priority-medium:hover {
  color: #ffffff;
  background-color: #faad14;
}
.priority-low {
  border: 1px solid #389e0d;
}
.priority-low:hover {
  color: #ffffff;
  background-color: #389e0d;
}

.task-row {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 20px;
  border-radius: 20px;
  margin: 10px 0;
}
